<html>
    <head>
        <title><%= name %> - LolMe Profile</title>
    </head>
    <body>
        <h1>Summoner Name: <%= name %> </h1>
        <h1>Id: <%= id %> </h1>
        <h1>Rank:<%= rank %></h1>
        <h1>Losses: <%= losses %></h1>
    </body>
</html>